@model AnyHire.Models.ServiceProviderViewModel
@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/datatables.js"></script>
<h2>Dashboard</h2>

<div class="tabbable">
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#appointments" data-toggle="tab">Appointments</a></li>
        <li><a href="#packages" data-toggle="tab">Packages</a></li>
        <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="appointments">
            @if (Model.Appointments == null)
            {
                <br />
                <div class="alert alert-info">No Appointments</div>
            }
        </div>
        <div class="tab-pane" id="packages">
                @if (Model.Packages.Count() < 1)
                {
                    <br />
                    <div class="alert alert-info">
                        No Packages<br/><br/>
                        @Html.ActionLink("Create One", "Create", "Package", new { }, new { @class = "btn btn-primary" })
                    </div>
                }
                else
                {
                    @Html.ActionLink("New Package", "Create", "Package", new { }, new { @class = "btn btn-sm btn-primary" })
                    <br/>
                    <br/>
                    <table id="packages-table" class="display">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Service</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Packages)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Service.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <a href="/Package/Edit/@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                        <a href="/Package/Delete/@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                        <a href="/Package/Details/@item.Id" class="btn btn-sm btn-info">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
        </div>

        <div class="tab-pane" id="transactions">
            @if (Model.Transactions == null)
            {
                <br />
                <div class="alert alert-info">No Transactions</div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#packages-table").DataTable();
        if (window.location.hash != "") {
            $(".active").not(".paginate_button").removeClass("active");
            $("[href=" + window.location.hash + "]").parent().addClass("active");
            $(window.location.hash).addClass("active");
        }
    });
</script>