@model AnyHire.Models.Package

@{
    ViewBag.Title = "Package";
}
@if (@TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]");</script>
}
@if (@TempData["Success"] != null)
{
    <script>alert("@TempData["Success"]");</script>
}
<div class="content" id="main">
<div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))</p>
                <strong>Service Price:</strong> ৳ @Model.Price
                <br />
                <strong>Charge:</strong> ৳ 50
                <br />
                <strong>Total:</strong> ৳ @(Model.Price+50)
                <br />
                <br/>
                <form method="post" action="/Package/Apply/@Model.Id" id="applyForm">
                    <div class="row">
                        <label class="col-md-3 control-label" for="Location">
                            Location:
                        </label>
                        <div class="col-md-9">
                            <select name="Location" id="Location">
                                <option> </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label" for="Date">
                            Date:
                        </label>
                        <div class="col-md-9">
                            <input type="date" name="Date" id="Date" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label" for="Time">
                            Time:
                        </label>
                        <div class="col-md-9">
                            <input type="time" name="Time" id="Time" />
                        </div>
                        <input type="hidden" value="@Session["user-id"]" name="uid"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#applyForm').submit()">Confirm</button>
            </div>
            <script>
                $(document).ready(function () {
                    $.ajax("/api/locations/@Model.Id").success(function (res) {
                        $.each(res, function (key, val) {
                            $("#Location").append('<option>' + val + '</option>');
                        });
                    });
                    /*$("#applyForm").on("submit", function (event) {
                        event.preventDefault();
                        var data = {
                            uid: Convert.ToInt32(Session["user-id"]),
                            Location: $("#Location").val(),
                            Date: $("#Date").val(),
                            Time: $("#Time").val().replace(':','-')
                        };
                        alert(JSON.stringify(data));
                        var req = $.post("/api/apply/Model.Id", JSON.stringify(data));
                        req.success(function (res) { alert(res);window.location=window.location; });
                        req.error(function (res) { alert(res.responseText); });
                    });*/
                });
            </script>
        </div>
    </div>
</div>

<h2>@Html.DisplayFor(model => model.Title)</h2>
<span class="label label-primary">@Model.Service.Name</span>

<div>
    <p>@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))</p>
	<hr />
</div>

<div class="row">
    <div class="col-md-6">
        @if (@Html.DisplayFor(model => model.ImagePath).ToString() != "")
        {
            <br />
            <img src="/Content/Images/@Html.DisplayFor(model => model.ImagePath)" alt="*" style="max-width: 100%" />
        }
    </div>
    <div class="col-md-3">
        <br/>
        <strong>Service Provider:</strong> <a href="/Browse/Provider/@Model.Account.Id">@Model.Account.Name</a>
        <br/>
        <strong>Price:</strong> ৳ @Model.Price
        <br/>
        <strong>Rating:</strong>
        <span style="color:#f7ed27;font-size:2.4rem">
            ★ @if(@Model.Feedbacks.Count()<1)
              {
                <b>0.00</b>
              }
              else
              {
                <b>@Model.Feedbacks.Select(s => s.Stars).Average()</b>
              }
              
        </span>
        <br />
        <br/>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apply">
            Apply for Appointment
        </button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-9">
        <h4><strong>Feedbacks</strong></h4>
    </div>
    <div class="col-md-3">
        <h4><strong>Your Feedback</strong></h4>
        <div class="stars" id="stars"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        <a href="" class="btn btn-danger">👎 Dislike</a>
        
    </div>
</div>
<script>
    $(document).ready(function () {
        var s1 = $("#stars span:first-child");
        var s2 = $("#stars span:nth-child(2)");
        var s3 = $("#stars span:nth-child(3)");
        var s4 = $("#stars span:nth-child(4)");
        var s5 = $("#stars span:nth-child(5)");
        s1.hover(function () { $(this).css("color", "#f7ed27"); }, function () { $(this).css("color", "#ccc"); });
        s2.hover(function () { s1.css("color", "#f7ed27"); $(this).css("color", "#f7ed27"); }, function () { s1.css("color", "#ccc"); $(this).css("color", "#ccc"); });
        s3.hover(function () { s1.css("color", "#f7ed27"); s2.css("color", "#f7ed27"); $(this).css("color", "#f7ed27"); }, function () { s2.css("color", "#ccc"); s1.css("color", "#ccc"); $(this).css("color", "#ccc"); });
        s4.hover(function () { s1.css("color", "#f7ed27"); s2.css("color", "#f7ed27"); s3.css("color", "#f7ed27"); $(this).css("color", "#f7ed27"); }, function () { s3.css("color", "#ccc"); s2.css("color", "#ccc"); s1.css("color", "#ccc"); $(this).css("color", "#ccc"); });
        s5.hover(function () { $("#stars span").css("color", "#f7ed27"); }, function () { $("#stars span").css("color", "#ccc"); });
    });
</script>
</div>